ul {
  padding: 0;
  margin-block: 1.5rem;
}

.card-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 800px) {
  .card-grid {
    gap: 5rem;
    padding: 2rem 0;
  }
}
